.rectanguloArriba {
    width: 100%;
    height: 162px;
    padding: 8px 8px 8px 8px;
    background: #2b2e4a;
    display: flex;
    justify-content: space-between;
}
.subRectangulo{
    width: 100%;
    padding: 8px 8px 8px 8px;
    background: #2b2e4a;
    margin-top: 2%;
    display:flex;
    justify-content: center;
}
.rectanguloPublicacion
{
    -webkit-box-flex: 1;          
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 
    margin-top: 3%;
    padding:10px;
    background-color: #903749;
    text-align: center;
    max-width: 50%;
}       

.pepe{
    margin-top: 10px;
}
.InicioRegistro{
    color: #ffffff;
    font-family: "Source Sans Pro";
    white-space: pre;
    font-size: 18px;
    margin-right: 20px;
}
.linea{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.barra{
       width: 100%;
    height: 37px;
    padding: 8px 8px 8px 8px;
    background: #903749;
}
.parteInfo:after{
       content: "";
    display: table;
    clear: both;
}
   * {
  box-sizing: border-box;
}
.columna{
       float: left;
    width: 65%;
    padding: 10px;
}
.textoBarra{
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: bold;
    margin-top: -12px;
    margin-left: -40px;
    white-space: pre;
    font-size: 18px;
}

.cuadroSpam{
       width: 100%;
    height: 170px;
    padding: 8px 8px 8px 8px;
    background: #903749;
}	
p{
    color: #ffffff;
    font-family: "Source Sans Pro";
    white-space: pre;
    font-size: 18px;
    margin-top: -30px;
}
.mensajeMemes{
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 1px;
}
.autor{
    width: 329px;
    height: 39px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size:24px;
    line-height: 1.6;
}
.fecha
{
    width: 329px;
    height: 39px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 400;
    line-height: 1.6;
}
.comentarioFoto
{
       text-align:center;
}
.img{max-width:100%;}

/* --------------------- Parte de Compartir ------------------------------*/
  .contenedor
  {
      display: flex;
      margin: auto;
      padding-top: 10px;
      font-size: 1.5vmin;
      gap:10px;
      align-items: center;
      justify-content: center;
  }
  .share-button
  {
    width: 40%;
    max-width: 170px;
    height: 100%;
    background: #dfe6e9;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
  }
  
  .share-button:hover{
    transform: scale(1.1);
  }
  
  .share-button span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e84545;
    color: #f1f1f1;
    text-align: center;
    line-height: 4vh;
    z-index: 999;
    transition: .6s linear;
    border-radius: 40px;
  }
  
  .share-button:hover span{
    transform: translateX(-100%);
    transition-delay: .3s;
  }
  
  .share-button a{
    flex: 1;
    font-size: 26px;
    color: #2d3436;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s linear;
  }
  
  .share-button:hover a{
    opacity: 1;
    transform: translateX(0);
  }
  
  .share-button a:nth-of-type(1){
    transition-delay: 1s;
  }
  
  .share-button a:nth-of-type(2){
    transition-delay: 0.8s;
  }
  
  .share-button a:nth-of-type(3){
    transition-delay: 0.6s;
  }
  
  .share-button a:nth-of-type(4){
    transition-delay: 0.4s;
  }