.rectanguloArriba {
    width: 100%;
    height: 162px;
    padding: 8px 8px 8px 8px;
    background: #2b2e4a;
    display: flex;
    justify-content: space-between;
}
.subRectangulo{
    width: 100%;
    padding: 8px 8px 8px 8px;
    background: #2b2e4a;
    margin-top: 2%;
    display:flex;
    justify-content: center;
}
.rectanguloPublicacion{
    -webkit-box-flex: 1;          
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 
    margin-top: 3%;
    padding:10px;
    background-color: #903749;
    text-align: center;
max-width: 50%;
}       
.pepe{
    margin-top: 10px;
}
.InicioRegistro{
    color: #ffffff;
    font-family: "Source Sans Pro";
    white-space: pre;
    font-size: 18px;
    margin-right: 20px;
}
.linea{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.barra{
       width: 100%;
    height: 37px;
    padding: 8px 8px 8px 8px;
    background: #903749;
}
.parteInfo:after{
       content: "";
    display: table;
    clear: both;
}
   * {
  box-sizing: border-box;
}
.columna{
       float: left;
    width: 65%;
    padding: 10px;
}
.textoBarra{
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: bold;
    margin-top: -12px;
    margin-left: -40px;
    white-space: pre;
    font-size: 18px;
}

ineaHorizontal2{
       width: 1000px;
    border-color: #ffffff;
    border-width: 0.5px;
    border-style: solid;
    align:center;
    /*auto;*/
}
.cuadroSpam{
       width: 100%;
    height: 170px;
    padding: 8px 8px 8px 8px;
    background: #903749;
}	
p{
    color: #ffffff;
    font-family: "Source Sans Pro";
    white-space: pre;
    font-size: 18px;
    margin-top: -30px;
}
.mensajeMemes{
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 1px;
}
.autor{
    width: 329px;
    height: 39px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size:24px;
    line-height: 1.6;
}
.fecha{
       width: 329px;
    height: 39px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 400;
    line-height: 1.6;
}
.comentarioFoto{
       text-align:center;
}
img{max-width:100%;}