.page-title {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    }

    .user-box {
        color: white;
        padding: 1em;
        margin: 0.5em;
        border-radius: 1em;
        background-color: #903749;
        font-weight: bold;
    }

    .user-nick-header {
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .wrapper-item {
        text-align: center;
    }

    .input-button {
        margin: 0.5em;
    }