.TierList
{
    text-shadow: 0px 3px 7px;
    color: #903749;
    font-family: "Lato";
    font-weight: bold;
    font-size: 7vmin;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
}
.lineaHorizontal1
{
    width: 40vw;
    border-color: #2b2e4a;
    border-width: 0.5px;
    border-style: solid;
    margin: auto;
    margin-top: 1vh;
}
.rojo
{
    background: #e84545;
    border-color: #e84545;
}
.naranja
{
    background: #ff8351;     	
    border-color: #ff8351;
}
.amarillo
{
    background: #fef67f;     	
    border-color: #fef67f;
}
.verde
{
    background: #aedd94;     	
    border-color: #aedd94;
}
.azul
{
    background: #4dd7fa;     	
    border-color: #4dd7fa;
}
.lila
{
    background: #6334e3;     	
    border-color: #6334e3;
}
.fuenteLetra
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    
}
.JugarTierList 
{
    width: 100%;
    padding: 8px 8px 8px 8px;
    text-align: center;
    background: #2b2e4a;
    margin-top: 2%;
}

.fuenteTexto
{
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 30px;
    margin-top: 1%;
    min-height:30px;
    min-width:30px;
}
.rectangulo
{
    width: 56px;
    height: 50px;
    color: #000000;
    padding: 8px 8px 8px 8px;
    border-width: 1px;
    border-style: solid;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    margin-left: 5%;
    margin-top: 1%;
    position: relative;
    display: flex;
}
.fuenteLetra
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    
}
.boton
{
    padding: 0px 10px 0px 10px;
    background: #e84545;
    color: #ffffff;
    border-color: #903749;
    border-width: 1px; 
    border-style: solid;
    font-family: "Helvetica";
    font-weight: bold;
    text-align: center;
    width: 15%;
    height: 45px;
    font-size: 18px;
    margin-top: 10%;
}
img
{
    margin-left: 4px;
}
.mydiv
{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 3px;
    width: 90%;
    margin-top: 1vmin;
}
#board 
{
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 80vw;
    height: 70vh;
    background-color: rgb(30, 30, 30);
}

.rows
{
    display: flex;
    width: 100%;
    height: 85px;  
    background-color: rgb(56, 56, 56);
}

.label-holder
{
    width: 100px;
    min-height: 80px;
    border-right: solid 1px #000;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
}
.label
{
    overflow: hidden;
    text-align: center;
    margin: 5px;
    max-height: 100%;
    font-size: 1.5vmin;
    min-width: 40%;
    min-height: 40%;
}

.card 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 100px;
    background-color: white;
}
.titletier
{
    width: 100%;
}